
.navigation-menu {
	width: 70px;
	height: 100%;
	overflow: hidden;
	border-right: 1px solid #c9c9c9;
	transition: width .3s cubic-bezier(0,0.55,0.45,1) .5s;
}

.navigation-menu:hover {
	width: 270px;
	transition: width .3s cubic-bezier(0,0.55,0.45,1);
}

.menu-item-container:first-child {
	margin-top: 60px;
}

.menu-item-container {
	position: relative;
	height: 60px;
	width: 100%;
	cursor: default;
}

.menu-item-container:hover {
	background-color: #f5f9fc;
}

.menu-item-icon {
	position: absolute;
	top: 17px;
	left: 22px;
	cursor: default;
}
.menu-item-text {
	position: absolute;
	top: 21px;
	left: 70px;
	width: 200px;
	cursor: default;
	font-family: "72", Arial;
	color: #212121;
    font-weight: 700;
    font-size: 16px;
}

.menu-item-icon {
	display: block;
	fill: #9e9e9e; 
}